* {
    margin: 0;
    padding: 0;
}

.adds {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 2rem;
}

.adds .in {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.in .container {
    display: flex;
    flex-direction: column;
    max-height: 440px;
    padding: 0 1.9rem 0 0rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.in .upr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}


.in .lwr .upr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.lwr .upr .options {
    padding: .3rem .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    background: #0E56C2;
    color: white;
    outline: none;
    gap: .5rem;
}

.lwr .upr .options .optn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #0E56C2;
    color: white;
    outline: none;
}

.in .lwr .upr .addsHeader {
    font-size: 25px;
    color: #1F384C;
}



.upr button {
    padding: .8rem 2rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: none;
    background: #0E56C2;
    color: white;
    cursor: pointer;
}


.in .upr .addsHeader {
    font-size: 25px;
    color: #1F384C;
}

.in .container .add {
    display: flex;
    margin: .8rem 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.8rem;
    box-shadow: 2px 2px 8px rgb(233, 241, 255);
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.add .checked {
    position: absolute;
    right: -2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.checked .fullicn {
    background: white;
    padding: .4rem;
    height: 21px;
    width: 21px;
    border-radius: 8px;
    border: 1px solid #0E56C2;
}

.checked .editicn {
    background: white;
    padding: .3rem;
    height: 21px;
    width: 21px;
    border-radius: 8px;
    border: 1px solid #0E56C2;
}

.checked img {
    margin-right: 8px;
    height: 35px;
    width: 35px;
}

.add .box {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.box .docIcn {
    background: rgba(36, 58, 255, 0.19);
    padding: .8rem;
    border-radius: 5px;
}

.box .moneyIcn {
    background: rgba(64, 228, 169, 0.23);
    padding: .8rem 1rem;
    border-radius: 5px;
}


.box .inBox {
    display: flex;
    flex-direction: column;
}

.inBox small {
    font-size: 14px;
    color: #9F9999;
    font-weight: 400;
}

.inBox p {
    font-size: 20px;
    color: black;
    font-weight: 600;
}


@media screen and (max-width:960px) {
    .in .upr .addsHeader {
        font-size: 23px;
        color: #1F384C;
    }

    .in .container .add {
        display: flex;
        margin: .8rem 0;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        box-shadow: 2px 2px 8px rgb(233, 241, 255);
        border-radius: 8px;
        position: relative;
    }

    .upr button {
        padding: .6rem 1.8rem;
        gap: 1rem;
        display: flex;
        align-items: center;
        border-radius: 15px;
        border: none;
        background: #0E56C2;
        color: white;
        cursor: pointer;
    }

    .add .checked {
        position: absolute;
        right: -3%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }

    .checked .fullicn {
        background: white;
        padding: .3rem;
        height: 19px;
        width: 19px;
        border-radius: 8px;
        border: 1px solid #0E56C2;
    }

    .checked .editicn {
        background: white;
        padding: .2rem;
        height: 19px;
        width: 19px;
        border-radius: 8px;
        border: 1px solid #0E56C2;
    }

    .add .box {
        display: flex;
        align-items: center;
        gap: .8rem;
    }

    .box .docIcn {
        background: rgba(36, 58, 255, 0.19);
        padding: .6rem;
        border-radius: 5px;
    }

    .box .moneyIcn {
        background: rgba(64, 228, 169, 0.23);
        padding: .6rem .8rem;
        border-radius: 5px;
    }


    .box .inBox {
        display: flex;
        flex-direction: column;
    }

    .inBox small {
        font-size: 12px;
        color: #9F9999;
        font-weight: 400;
    }

    .inBox p {
        font-size: 18px;
        color: black;
        font-weight: 600;
    }

}



@media screen and (max-width:830px) {
    .in .upr .addsHeader {
        font-size: 19px;
        color: #1F384C;
    }

    .in .container .add {
        display: flex;
        margin: .8rem 0;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.3rem;
        box-shadow: 2px 2px 8px rgb(233, 241, 255);
        border-radius: 8px;
        position: relative;
    }

    .upr button {
        padding: .4rem 1.6rem;
        gap: 1rem;
        display: flex;
        align-items: center;
        border-radius: 15px;
        border: none;
        background: #0E56C2;
        color: white;
        cursor: pointer;
    }

    .add .checked {
        position: absolute;
        right: -2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }

    .checked .fullicn {
        background: white;
        padding: .3rem;
        height: 17px;
        width: 17px;
        border-radius: 8px;
        border: 1px solid #0E56C2;
    }

    .checked .editicn {
        background: white;
        padding: .2rem;
        height: 17px;
        width: 17px;
        border-radius: 8px;
        border: 1px solid #0E56C2;
    }

    .add .box {
        display: flex;
        align-items: center;
        gap: .8rem;
    }

    .box .docIcn {
        background: rgba(36, 58, 255, 0.19);
        padding: .4rem;
        border-radius: 5px;
    }

    .box .moneyIcn {
        background: rgba(64, 228, 169, 0.23);
        padding: .4rem .6rem;
        border-radius: 5px;
    }

    .box .inBox {
        display: flex;
        flex-direction: column;
    }

    .inBox small {
        font-size: 10px;
        color: #9F9999;
        font-weight: 400;
    }

    .inBox p {
        font-size: 16px;
        color: black;
        font-weight: 600;
    }

}


@media screen and (max-width:735px) {
    .box .docIcn {
        background: rgba(36, 58, 255, 0.19);
        padding: .3rem;
        border-radius: 5px;
    }

    .box .moneyIcn {
        background: rgba(64, 228, 169, 0.23);
        padding: .3rem .5rem;
        border-radius: 5px;
    }

    .upr button {
        padding: .4rem 1.4rem;
        gap: 1rem;
        display: flex;
        align-items: center;
        border-radius: 15px;
        border: none;
        background: #0E56C2;
        color: white;
        cursor: pointer;
    }

    .checked .fullicn {
        background: white;
        padding: .3rem;
        height: 15px;
        width: 15px;
        border-radius: 8px;
        border: 1px solid #0E56C2;
    }

    .checked .editicn {
        background: white;
        padding: .2rem;
        height: 15px;
        width: 15px;
        border-radius: 8px;
        border: 1px solid #0E56C2;
    }
}


@media screen and (max-width:660px) {
    .add .box {
        display: flex;
        align-items: center;
        gap: .3rem;
    }

}


@media screen and (max-width:597px) {
    .in .container {
        max-height: 450px;
        padding: 0;
        overflow-y: scroll;
    }

    .in .container .add {
        padding: 3rem;
        display: flex;
        overflow-y: hidden;
        overflow-x: auto;
    }

    .add .box {
        width: 100%;
        padding: 0rem 1rem;
    }

    .box .inBox {
        min-width: 100px;
    }

    .add .checked {
        position: relative;
        left: 0;
        top: 0;
    }

}